.body1 {
    height: 120vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "side header" "side main";
  }

  .container1{
    text-align: center;
    width: 80%;
    height: 12px;
    margin-right: 39px;
    border: 30px solid var(--clr-dark);
    background-color: #6c757d;
    border-radius: 8px;
}


.item1{   
    position: absolute;   
    margin-left: 300px;
    width: 999px;
    height: 10px;
    background-color: #c3c5ca;
    padding: 1rem;
    font-weight: 700;
    color: var(--clr-light);
    border: 10px solid var(--clr-dark);
    border-radius: 10px;
    color: black;
}

.item1{
    position: absolute;
    top: 10px;
    text-align: center;    
}

.welcome1{
    position: relative;
    right: 46%;
    bottom: 12px;
    }
.main1{
        /* background-color: #c3c5ca; */
        padding: 25px;
        grid-area: main;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
        "c1 c2 c3"
        "c4 c5 c6"
        "c7 c7 c8"; 
         gap: 20px; */
}

.car1d{
    position: relative;
    top: 52px;
    left: 280px;
    background-color:#CEDFFF;
    border-radius: 10px;
    height: 120px;
    width: 250px;
}

.car2d{
    position: relative;
    top: -68px;
    left: 550px;
    background-color:#CEDFFF;
    border-radius: 10px;
    height: 120px;
    width: 250px; 
}

.car3d{
    position: relative;
    bottom: 186px;
    left: 820px;
    background-color:#CEDFFF;
    border-radius: 10px;
    height: 120px;
    width: 250px;  
}

.card_no{
    position: relative;
    top: 20px;
    left: -30px;
}

.paragraph_heading{
    position: relative;
    top:9px;
    left: -5px;
}

.paragraph_heading1{
    position: relative;
    top:9px;
    left: -30px;
}

.paragraph_heading2{
    position: relative;
    top:9px;
    left: -40px;
}
.Report_button{
    position: relative;
    
}

.Report_button1{
    position: relative;
    left: -100px;
    top: 38px;
    border-radius: 6px;
    background-color: #384B5B;
    color: #ffff;
}

.Report_button2{
    position: relative;
    left: -80px;
    top: 38px;
    border-radius: 6px;
}
.Report_button2:hover{
    background-color: #384B5B;
    color: #ffff;
}

.Report_button3{
    position: relative;
    left: -66px;
    top: 38px;
    border-radius: 6px;
   
}

.Report_button3:hover{
    background-color: #384B5B;
    color: #ffff;
}
.car4d{
    position: relative;
    bottom: 166px;
    left: 280px;
    background-color:#deccf3;
    border-radius: 10px;
    height: 520px;
    width: 1020px;  
}

.report_cardbox1{
    position: absolute;
    border-radius: 8px;
    border: 2px solid rgb(118, 189, 234);
    padding: 20px;
    width: 130px;
    height: 120px; 
    left: 9px;
    background-color: aliceblue;
    /* right: 63%; */
    top: 20px;
    width: 220px;
}

.report_cardbox2{
    position: absolute;
    border-radius: 8px;
    border: 2px solid rgb(121, 180, 209);
    padding: 20px;
    width: 130px;
    height: 120px; 
    left: 260px;
    background-color: aliceblue;
    /* right: 63%; */
    top: 20px;
    width: 220px;
}

.report_cardbox3{
    position: absolute;
    border-radius: 8px;
    border: 2px solid rgb(126, 171, 240);
    padding: 20px;
    width: 200px;
    height: 120px; 
    left: 500px;
    background-color: aliceblue;
    top: 20px;  
}

.report_droupbox{
    position: relative;
    left: 370px;
    top: 21px;
}
.Names{
    width: 220px;
    height: 50px;
    border-radius: 6px;
}
.report_cardbox4{
    position: absolute;
    border-radius: 8px;
    border: 2px solid rgb(126, 171, 240);
    padding: 20px;
    width: 600px;
    height: 320px; 
    left: 10px;
    background-color: white;
    top: 170px;  
}

.report_cardbox5{
    position: absolute;
    border-radius: 8px;
    border: 2px solid rgb(126, 171, 240);
    padding: 20px;
    width: 390px;
    height: 320px; 
    left: 620px;
    background-color: white;
    top: 170px;   
}
.report_cardbox6{

}

.Report_revenu{
    position: relative;
    left: 238px;
    top: -122px;
}
.report_droupdown{
    position: relative;
    left: 690px;
    top: -158px;
    width: 200px;
    height: 40px;
}

.Report_search{
    position: relative;
    left: 300px;
    bottom: 380%;
}

.Revenue_total{
    position: relative;
    right: 220px;
    bottom: 130px;
}

.Report_table{
    position: relative;
    bottom: 120px;
    width: 110%;
    height: 150%;
    left: 260px;
}