.body {
    height: 120vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "side header" "side main";
  }

.container{
    text-align: center;
    width: 80%;
    height: 12px;
    margin-right: 39px;
    border: 30px solid var(--clr-dark);
    background-color: #6c757d;
    border-radius: 8px;
}

.card1{
  background-color:#d0d1d4;
  border-radius: 1px;
  height: 280%;
  width: 300%;
}
.main{
  /* background-color: #c3c5ca; */
  padding: 25px;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.btn-group button {
  background-color: #6c757d;
  border: 1px solid #ffff;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left; 
  border: none;
}

.btn-group button:hover {
  background-color: #ffff;
  border: 100px;
}

#customers{
position: absolutes;
top: 20px;
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #343a40;
  color: white;
}


.btn{
 position: relative;
  left: 530px;
}

.btn1{
  background-color: #17a2b8;
  color: #ffff;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
}
.btn2{
  position: relative;
  padding: 8px 16px;
  left: 5px;
  background-color: red;
  color: #ffff;
  border-radius: 5px;
  border: none;
}
.new1{

top: 10%;
}
.welcome1{
  position: relative;
  right: 46%;
  bottom: 12px;
  }
.customer_table{
  position: absolute;
  padding-right: 100px;
  width: 80%;
}